<header>    
        <center>
        <img src="https://i.pinimg.com/originals/a4/f8/f6/a4f8f61b20234ca9323dab3e0091ec18.png" width="10%">
        </center>
        <ul class="navs">
            <li><a href="/home" class="link">Home</a></li>
            <li><a href="/courses" class="link">Courses</a></li>
            <li><a href="/instructors" class="link">Instructors</a></li>
            <li><a href="/students" class="link">Students</a></li>
            <a class="btn btn-primary" href="logout">Logout</a>

         </ul>
    </header>
    <br>
