<header>    
        <center>
        <img src="https://i.pinimg.com/originals/a4/f8/f6/a4f8f61b20234ca9323dab3e0091ec18.png" width="10%">
        </center>
        <ul class="navs">
            <li><a href="/home" class="link">Home</a></li>
            <li><a href="/courses" class="link">Courses</a></li>
            <li><a href="/instructors" class="link">Instructors</a></li>
            <li><a href="/students" class="link">Students</a></li>
            <a class="btn btn-primary" href="logout">Logout</a>

         </ul>
    </header>
    <br>
    <center>
    <img src="https://static0.srcdn.com/wordpress/wp-content/uploads/2018/07/Naruto-as-Hokage.jpeg">
    </center>
    <h2>Welcome to The Hidden Leaf Academy</h2>
    <p>This academy takes place within the Land of Fire inside the famous Hidden Leaf Village. Its well known for being the same academy that taught the 7th Hokage Naruto Uzumaki (hero of the Great Ninja War). All our fellow students have the Will of Fire to learn not only their history but Jutsu as well. Click the tabs to explore more in regards to our academy. (BELIEVE IT!)